body {
	background-color: #333;
	margin: 0;
}

.container {
	background-color: #fff;
	margin: 10px auto;
	max-width: 70%;
	padding: 12px;
	border: 1px solid #000;
	box-shadow: 0 0 15px #fff;
}

.header	{
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: center;
}

img.logo {
	padding-right: 20px;
	width: 150px;
	height: 150px;
}

.header h1 {
	display: inline;
	margin: auto 0;
	vertical-align: middle;
}

ul.navbar {
	list-style-type: none;
	margin: 20px 0 0px 0;
	padding: 0;
	overflow: hidden;
	background-color: #a28a65;
}

ul.footer {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #a28a65;
}

ul.navbar li, ul.footer li {
	float: left;
}

ul.navbar li a, ul.footer li a {
	display: inline-block;
	padding: 14px 16px;
	text-align: center;
	color: white;
	font: 12pt 'Raleway', "Segoe UI", Arial, sans-serif;
}

ul.navbar li a:hover, ul.footer li a:hover {
	background-color: #cab18a;
	text-decoration: none;
	color: white;
}

#active {
	background-color: #932;
}

.quick-links {
	margin: 10px 0 0 0;
	padding: 0;
	overflow: hidden;
}

.quick-links-text-div, .quick-links-list-div {
	display: inline-block;
}

p.quick-links-text {
	display: inline-block;
	vertical-align: top;
	font: 9pt "Segoe UI", Arial, sans-serif;
	margin: 0;
	padding: 0;
}

ul.quick-links-list {
	display: inline-block;
	vertical-align: top;
	list-style-type: "|";
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.quick-links-list-item {
	font: 9pt "Segoe UI", Arial, sans-serif;
	float: left;
	padding: 0 8px 0 4px;
}

.content {
	clear: left;
}

table {
	vertical-align: top;
	padding: 0 5px;
	border-collapse: collapse;
	cursor: default;
}

table#index-table, table.index-table {
	width: 100%;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	text-align: left;
	padding: 3px 10px;
	border-bottom: 1px solid #bbb;
	font: bold 9pt "Segoe UI", Arial, sans-serif;
}

td {
	text-align: left;
	padding: 3px 10px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #bbb;
	font: 9pt "Segoe UI", Arial, sans-serif;
	vertical-align: top;
	word-wrap: break-word;
}

.commented-example {
	border: 1px solid #ccc;
	max-width: 100%;
	margin-bottom: 10px;
}

.commented-example th {
	background-color: #aaa;
}

.commented-example tr {
	background-color: #ddd;
}

.commented-example td {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	word-wrap: break-all;
	padding: 1px 10px;
}

.commented-example td:nth-child(1) {
	background-color: #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 20px;
	text-align: right;
}

.commented-example td:nth-child(3) {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1 {
	font: 32pt 'Crimson Text', "Georgia", Arial, sans-serif;
	margin: 0 0 20px 0;
}

h2 {
	font: 26pt 'Crimson Text', "Georgia", Arial, sans-serif;
	margin: 0 0 20px 0;
}

h3 {
	font: 18pt 'Crimson Text', "Georgia", Arial, sans-serif;
	margin: 0 0 20px 0;
}

h4 {
	font: 14pt 'Crimson Text', "Georgia", Arial, sans-serif;
	margin: 0 0 20px 0;
}

h5 {
	font: 12pt 'Crimson Text', "Georgia", Arial, sans-serif;
	margin: 0 0 20px 0;
}

.techs-building-header, .objects-building-header{
	font: 16pt "Georgia", Arial, sans-serif;
	margin: 20px 0 0 0;
}

.techs-building-header, .objects-building-header{
	font: 16pt "Georgia", Arial, sans-serif;
	margin: 20px 0 0 0;
}

.techs-building-header, .objects-building-header{
	font: 16pt "Georgia", Arial, sans-serif;
	margin: 20px 0 0 0;
}

.patch-notes-year {
	margin: 10px 0 10px 2%;
	font-size: 24pt;
}

.patch-notes-month {
	margin: 10px 0 10px 4%;
}

p {
	font: 9pt "Segoe UI", Arial, sans-serif;
}

a {
	font-weight: bold;
	color: #009;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.resources-list a {
	font: 11pt "Segoe UI", Arial, sans-serif;
	font-weight: bold;
}

.example {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
}

span.inline-example {
	background-color: #eee;
	border: 1px solid #ddd;
}

pre {
	margin: 0px;
}

code {
	font: 9pt "Segoe UI", Arial, sans-serif;
}

.dir-type {
	color: #888;
}

.article {
	margin: 0 10px;
}

.article p, .article li {
	font: 10pt "Segoe UI", Arial, sans-serif;
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.5;
}

#parametersInput {
	width: 88%; 
	font-size: 13px; /* Increase font-size */
	padding: 10px 0; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
	text-indent: 10px;
}

#valueListInput, #wildcardParamInput, #searchInput, #patchNotesInput {
	width: 78%; 
	font-size: 13px; /* Increase font-size */
	padding: 10px 0; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
	text-indent: 10px;
}

.input-label { 
	width: 78%;
	padding-top: 10px;
	display: inline-block;
	font-weight: bold;
}

.parameters-input-label { 
	width: 88%;
	padding-top: 10px;
	display: inline-block;
	font-weight: bold;
}

.sn-input-label{
	width: 38%;
	padding-top: 10px;
	display: inline-block;
	font-weight: bold;
}

.techs-input-label {
	width: 68%;
	padding-top: 10px;
	display: inline-block;
	font-weight: bold;
}

.commands-input-label, .objects-input-label, .patch-notes-input-label {
	width: 58%;
	padding-top: 10px;
	display: inline-block;
	font-weight: bold;
}

.dropdown-label {
	width: 10%;
	padding-top: 10px;
	display: inline-block;
	font-weight: bold;
}

label {
	font-size: 8pt;
}

label, input, select {
	text-indent: 1px;
	margin-right: 0.2%;
}

#snInput {
	width: 38%; 
	font-size: 13px; /* Increase font-size */
	padding: 10px 0; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
	text-indent: 10px;
}

#techsInput {
	width: 68%; 
	font-size: 13px; /* Increase font-size */
	padding: 10px 0; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
	text-indent: 10px;
}

#commandsInput, #objectsInput, #patchNotesInput {
	width: 58%; 
	font-size: 13px; /* Increase font-size */
	padding: 10px 0; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
	text-indent: 10px;
}

.drop-filter {
	width: 10%;
	font-size: 13px;
	padding: 10px 0;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

.param .dir-type {
	cursor: default;
}

hr {
	background-color: #ccc;
	border-width: 0px;
	height: 1px;
}

blockquote {
	background-color: #eee;
	border-left: 3px solid #ccc;
	padding: 2px 15px 2px 15px
}

.sn-check-flag {
	font-weight: bold;
	color: green;
	text-shadow: 1px 1px 0.5px #999;
}

.sn-x-flag {
	font-weight: bold;
	color: red;
	text-shadow: 1px 1px 0.5px #999;
}

.sn-question-flag {
	font-weight: bold;
	color: orange;
	font-size: 10pt;
	line-height: 9pt;
	text-shadow: 1px 1px 0.5px #999;
}

.patch-table {
	table-layout: fixed;
	width: 96%;
	margin-left: 4%;
}

.techs-table, .objects-table{
	table-layout: fixed;
}

.techs-table th, .objects-table th {
	vertical-align: bottom;
}

.version-icons img {
	width: 16px;
	height: 16px;
}

.version-icons {
	text-align: center;
}

.techs-id-col {
	width: 4%;
}

.techs-name-col {
	width: 17%;
}

.techs-ainame-col {
	width: 18%;
}

.techs-building-col {
	width: 12%;
}

.techs-age-col {
	width: 4%;
}

.techs-civ-col {
	width: 8%;
}

.techs-versions-col {
	width: 7%;
}

.techs-notes-col {
	width: 30%;
}

.objects-id-col {
	width: 7%;
}

.objects-name-col {
	width: 10%;
}

.objects-ainame-col {
	width: 9%;
}

.objects-line-col {
	width: 10%;
}

.objects-class-col {
	width: 9%;
}

.objects-cmdId-col {
	width: 9%;
}

.objects-building-col {
	width: 8%;
}

.objects-age-col {
	width: 3%;
}

.objects-dead-unit-col {
	width: 5%;
}

.objects-projectile-col {
	width: 5%;
}

.objects-chem-projectile-col {
	width: 5%;
}

.objects-versions-col {
	width: 5%;
}

.objects-notes-col {
	width: 15%;
}

.patch-notes-version-col {
	width: 4%
}

.patch-notes-release-col {
	width: 11%
}

.patch-notes-type-col {
	width: 4%
}

.patch-notes-description-col {
	width: 81%
}

.weird-tech-name, .weird-object-name {
	background-color: #fe9;
}

.de-tech-name, .de-object-name {
	background-color: #cfc;
}

.multiple-id-object {
	background-color: #fcc;
}

.highlight { 
	background-color: red; 
}




/*Keep at end*/

@media screen and (min-width: 1025px) and (max-width: 1440px) {

	.container {
		background-color: #fff;
		margin: 10px auto;
		max-width: 85%;
		padding: 8px;
		border: 1px solid #000;
		box-shadow: 0 0 15px #fff;
	}
}

@media screen and (max-width: 1024px) {

	.container {
		background-color: #fff;
		margin: 0px auto;
		max-width: 100%;
		padding: 5px;
		border: none;
		box-shadow: none;
	}
}